@page "/register"
@using Common

<div class="page-margins--apply _register-page">
  <h2 class="_title header1">Register your account</h2>
  <p class="_subtext">
    Registering your account allows you to track your budget
    accross multiple platforms
  </p>

  @if (this.GotError)
  {
    <p class="error-text _form-beginning">An error has ocurred while registerring this account.</p>
  }

  <input
    @bind="this.FormValues.FullName"
    class='input _form-input @(this.FormValidStates.IsFullNameValid == ValidState.Valid ? "input--valid" : "")'
    placeholder="Full name..."
    name="fullName"
    autocomplete="name" />
  <input
    @bind="this.FormValues.Email"
    class='input
           _form-input
           @(this.FormValidStates.IsEmailValid == ValidState.Valid ? "input--valid" : "")
           @(this.FormValidStates.IsEmailValid == ValidState.Invalid ? "input--invalid" : "")'
    placeholder="Email..."
    name="email"
    autocomplete="email" />

  <div class="input input--password _form-input">
    <input
      @bind="this.FormValues.Password"
      class='input
             @(this.FormValidStates.IsPasswordValid == ValidState.Valid ? "input--valid" : "")
             @(this.FormValidStates.IsPasswordValid == ValidState.Invalid ? "input--invalid" : "")'
      placeholder="Password..."
      type='@(this.IsPasswordPlainText ? "text" : "password")'
      name="password"
      autocomplete="new-password" />
    <button class="input__visibiliy-toggle" @onclick="this.TogglePasswordVisibility">
      @if (this.IsPasswordPlainText)
      {
        <img src="images/generic/visibility_off.svg" />
      }
      else
      {
        <img src="images/generic/visibility.svg" />
      }
    </button>
  </div>

  <div class="input input--password _form-input">
    <input
      @bind="this.FormValues.ConfirmPassword"
      class='input
             @(this.FormValidStates.IsConfirmPasswordValid == ValidState.Valid ? "input--valid" : "")
             @(this.FormValidStates.IsConfirmPasswordValid == ValidState.Invalid ? "input--invalid" : "")'
      placeholder="Confirm Password..."
      type='@(this.IsConfirmPasswordPlainText ? "text" : "password")'
      name="confirmPassword"
      autocomplete="new-password" />
    <button class="input__visibiliy-toggle" @onclick="this.ToggleConfirmPasswordVisibility">
      @if (this.IsConfirmPasswordPlainText)
      {
        <img src="images/generic/visibility_off.svg" />
      }
      else
      {
        <img src="images/generic/visibility.svg" />
      }
    </button>
  </div>

  <button
    type="submit"
    class='button button--disabled _btn-register @(this.CanSubmit ? "button--encourage" : "")'
    @onclick="this.OnRegisterClicked">
    Register
  </button>
</div>