@page "/budget-planner"
@using BudgetSquirrel.Frontend.BudgetPlanning.Budgets
@using BudgetSquirrel.Frontend.Shared
@using BudgetSquirrel.Frontend.Shared.Controls

<div class="_budget-planner-page page-margins__apply">

  @if (this.isLoading)
  {
    <LoadingCover />
  }
  else
  {
    @* ========================== *@
    @* Page title *@
    @* ========================== *@
    <h1 class="_root-budget-title__container">
      <div class="_root-budget-title">
        <EditableText Value="@this.RootFundName" OnChange="@this.ChangeRootFundName" Placeholder="(ex. My Main Budget)"
        Type="text" />
      </div>
      <span class="foreground-default--subtle subtle-detail">@this.timeboxDisplay</span>
    </h1>

    @* ========================== *@
    @* Root budget summary box *@
    @* ========================== *@
    <div class="stat__box stat__box--row _root-budget-stats">
      <div class="stat">
        <div class="stat__label stat__label--prominent">Planned Income</div>
        <EditableText
          CssClass="@this.PlannedIncomeCssClass"
          Value="@this.PlannedIncome.ToString()"
          OnChange="@this.ChangePlannedIncome"
          Placeholder="(ex. 3000.00)"
          Type="currency"
          WidthEms=8 />
      </div>

      @if (this.ShouldShowAmountLeftToBudget)
      {
        <div class="stat">
          <div class="stat__label stat__label--prominent">@this.AmountLeftToBudgetLabel</div>
          <div class="@this.AmountLeftToBudgetCssClass">@this.AmountLeftToBudgetDisplay</div>
        </div>
      }
    </div>

    @* ========================== *@
    @* Page level actions *@
    @* ========================== *@
    <div class="_page-actions form-action-group form-action-group--align-left">
      @if (this.isCreatingBudget)
      {
        <button class="button form-action" @onclick="@this.CancelCreateBudgetClicked">
          Stop Adding Budget
        </button>
      }
      else
      {
        <button class="button button--encourage form-action" @onclick="@this.StartCreateBudgetClicked">
          Add Budget
        </button>
        
        if (!this.isFinalizingBudget)
        {
          <button class="button form-action" @onclick="@this.StartFinalizingBudgetClicked">
            Finalize Budget
          </button>
        }
      }
    </div>

    @* ========================== *@
    @* Budget display section     *@
    @* ========================== *@
    <div class="_budget-section">
      @if (this.isCreatingBudget)
      {
        <Budget1AddForm OnSubmit="@this.SubmitNewBudget1" />
      }

      @foreach (BudgetPlanningContext.FundRelationships subFundBudget in this.Level1Budgets)
      {
        <div class="_budget-container">
          <Budget1
            Budget=@subFundBudget
            OnCreateSubBudget2="@this.SubmitNewSubBudget"
            OnPlannedAmountChanged="@this.EditPlannedAmount"
            OnDeleteBudget="@this.DeleteBudget"
            OnNameChanged="@this.ChangeSubFundName" />
        </div>
      }
    </div>
  }

  @if (this.isFinalizingBudget)
  {
    <Modal>
      <div class="modal__content--confirmation">
        <p>
          You are about to finalize this budget and move on to transaction tracking.
          You will not be able to modify the plan for the rest of this budget period
          unless you close out the period early. Are you sure you would like to do this?
        </p>
        <div class="form-action-group">
          <button class="button button--narrow form-action" @onclick="@this.ConfirmFinalizingBudgetClicked">
            Yes Finalize
          </button>
          <button class="button button--narrow button--discourage form-action" @onclick="@this.CancelFinalizingBudgetClicked">
            Stay in Planning Phase
          </button>
        </div>
      </div>
    </Modal>
  }
</div>