@page "/budget-planner"
@using BudgetSquirrel.Frontend.BudgetPlanning.Budgets
@using BudgetSquirrel.Frontend.Shared.Controls

<div class="_budget-planner-page page-margins__apply">

  @if (this.isLoading)
  {
    <p>Loading...</p>
  }
  else
  {
    @* ========================== *@
    @* Page title *@
    @* ========================== *@
    <h1 class="_root-budget-title__container">
      <div class="_root-budget-title">
        <EditableText Value="@this.RootFundName" OnChange="@this.ChangeRootFundName" Placeholder="(ex. My Main Budget)"
        Type="text" />
      </div>
      <span class="foreground-default--subtle subtle-detail">@this.timeboxDisplay</span>
    </h1>

    @* ========================== *@
    @* Root budget summary box *@
    @* ========================== *@
    <div class="stat__box stat__box--row _root-budget-stats">
      <div class="stat">
        <div class="stat__label stat__label--prominent">Planned Income</div>
        <EditableText CssClass="@this.PlannedIncomeCssClass" Value="@this.PlannedIncome.ToString()"
        OnChange="@this.ChangePlannedIncome" Placeholder="(ex. 3000.00)" Type="currency" WidthEms=8 />
      </div>

      @if (this.ShouldShowAmountLeftToBudget)
      {
        <div class="stat">
          <div class="stat__label stat__label--prominent">@this.AmountLeftToBudgetLabel</div>
          <div class="@this.AmountLeftToBudgetCssClass">@this.AmountLeftToBudgetDisplay</div>
        </div>
      }
    </div>

    @* ========================== *@
    @* Page level actions *@
    @* ========================== *@
    <div class="_page-actions">
    @if (this.isCreatingBudget)
      {
        <button class="button" @onclick="@this.CancelCreateBudgetClicked">
          Stop Adding Budget
        </button>
      }
      else
      {
        <button class="button button--encourage" @onclick="@this.StartCreateBudgetClicked">
          Add Budget
        </button>
      }
    </div>

    @* ========================== *@
    @* Budget display section *@
    @* ========================== *@
    <div class="_budget-section">
    @if (this.isCreatingBudget)
      {
        <Budget1AddForm OnSubmit="@this.SubmitNewBudget1" />
      }

      @foreach (BudgetPlanningContext.FundRelationships subFundBudget in this.Level1Budgets)
      {
        <div class="_budget-container">
          <Budget1
            Budget=@subFundBudget
            OnCreateSubBudget2="@this.SubmitNewSubBudget"
            OnPlannedAmountChanged="@this.EditPlannedAmount" />
        </div>
      }
    </div>
  }
</div>