<div>
  <EditableText
    Value="@this.VendorName"
    Placeholder="Example Store"
    Name="vendorName"
    OnChange="@this.ChangeVendorName" />

  <EditableText
    Value="@this.Description"
    Placeholder="Some cool merchendise"
    Name="description"
    OnChange="@this.ChangeDescription" />

  <EditableText
    Value="@this.Amount"
    Placeholder="$0.00"
    Name="amount"
    OnChange="@this.ChangeAmount" />

  <EditableText
    Value="@this.DateOfTransaction"
    Placeholder="Transaction Date"
    Name="description"
    OnChange="@this.ChangeTransactionDate" />

  <EditableText
    Value="@this.Description"
    Placeholder="Description"
    Name="description"
    OnChange="@this.ChangeDescription" />
</div>