@using BudgetSquirrel.Frontend.Shared.Controls
<div class="budget budget--2 budget__group _budget2">
  <div class="budget__details">
    <div class="_budget__heading">
      <p class="_budget__name">
        @this.Name
      </p>
      <div class="_budget__actions">
        <button class="material-icons icon-button">
          add_box
        </button>
      </div>
    </div>
    <div class="_budget-stat__container">
      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <EditableText
          CssClass="@this.AmountInStatValueCssClass"
          Value="@this.State.PlannedAmount.ToString()"
          OnChange="@this.ChangePlannedAmount"
          Placeholder="(ex. 3000.00)"
          Type="currency"
          WidthEms=8 />
      </div>

      <div class="stat _budget-stat">
        <p class="stat__label">Balance</p>
        <p class="stat__value">
          @this.BalanceDisplay
        </p>
      </div>
    </div>
  </div>
</div>