@using BudgetSquirrel.Frontend.Shared.Controls
<div class="budget budget--2 budget__group _budget2">
  <div class="budget__details">
    <div class="_budget__heading">
      <p class="_budget__name">
        @this.Name
      </p>
      <div class="_budget__actions">
        <button class="material-icons icon-button">
          add_box
        </button>
        @if (!this.IsDeletingBudget)
        {
          <button class="material-icons icon-button" @onclick="this.OnDeleteBudgetClicked">
            delete
          </button>
        }
      </div>
    </div>
    <div class="_budget-stat__container">
      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <EditableText
          CssClass="@this.AmountInStatValueCssClass"
          Value="@this.State.PlannedAmount.ToString()"
          OnChange="@this.ChangePlannedAmount"
          Placeholder="(ex. 3000.00)"
          Type="currency"
          WidthEms=8 />
      </div>

      @if (!this.IsSubBudgetPlannedAmountZeroedOut)
      {
        <div class="stat _budget-stat">
          <p class="stat__label">@this.BalanceDiscrepencyLabelDisplay</p>
          <p class="stat__value stat__value--bad">
            @this.BalanceDiscrepencyValueDisplay
          </p>
        </div>
      }
    </div>
  </div>
</div>

@if (this.IsDeletingBudget)
{
  <Modal>
    <div class="budget budget__delete-comfirm-modal">
      <p class="budget__delete-confirm-prompt">Are you sure you want to delete @(this.Name)?</p>
      <div class="budget__delete-confirm-actions">
        <button class="button button--narrow button--discourage" @onclick="this.OnDeleteBudgetConfirmed">
          Delete
        </button>
        <button class="button button--narrow" @onclick="this.OnDeleteBudgetCancelled">
          Cancel
        </button>
      </div>
    </div>
  </Modal>
}