@using BudgetSquirrel.Frontend.BudgetPlanning
@using BudgetSquirrel.Frontend.Shared.Controls

<div class="budget budget--1 budget__group _budget1">
  <div class="budget__details">
    <div class="_budget__heading">
      <div class="_budget__name">
        <EditableText
          Value="@this.Name"
          Placeholder="Budget Name"
          Name="@this.InputNameFundName"
          OnChange="@this.ChangeName" />
      </div>
        
      <div class="_budget__actions">
        @if (!this.IsAddingSubBudget)
        {
          <button class="material-icons icon-button" @onclick="this.OnAddSubBudgetClicked">
            add_box
          </button>
        }
        @if (!this.IsDeletingBudget)
        {
          <button class="material-icons icon-button" @onclick="this.OnDeleteBudgetClicked">
            delete
          </button>
        }
        @if (this.Budget.SubBudgetsTotalPlannedAmountDifference != 0)
        {
          <button class="material-icons icon-button" @onclick="this.FixPlannedAmount">
            build
          </button>
        }
      </div>
    </div>
    <div class="_budget-stat__container">
      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <EditableText
          CssClass="@this.AmountInStatValueCssClass"
          Value="@this.State.PlannedAmount.ToString()"
          OnChange="@this.ChangePlannedAmountRaw"
          Placeholder="(ex. 3000.00)"
          Type="currency"
          WidthEms=8 />
      </div>

      @if (!this.IsSubBudgetPlannedAmountZeroedOut)
      {
        <div class="stat _budget-stat">
          <p class="stat__label">@this.BalanceDiscrepencyLabelDisplay</p>
          <p class="stat__value stat__value--bad">
            @this.BalanceDiscrepencyValueDisplay
          </p>
        </div>
      }
    </div>
  </div>

  @if (this.ShouldShowSubBudgetArea)
  {
    <div class="budget__sub-budget-container">
      @if (this.IsAddingSubBudget)
      {
        <div class="budget__sub-budget">
          <Budget2AddForm
            ParentBudget="@this.Budget"
            OnSubmit="@this.CreateSubBudget2"
            OnCancel="@this.CancelSubBudgetCreation" />
        </div>
      }

      @foreach (BudgetPlanningContext.FundRelationships subBudget in this.Budget.SubFunds)
      {
        <div class="budget__sub-budget">
          <Budget2
            Budget=@subBudget
            OnPlannedAmountChanged="@this.ChangeSubBudgetPlannedAmount"
            OnDeleteBudget="@this.OnDeleteBudget" />
        </div>
      }
    </div>
  }
</div>

@if (this.IsDeletingBudget)
{
  <Modal>
    <div class="budget budget__delete-comfirm-modal">
      <p class="budget__delete-confirm-prompt">Are you sure you want to delete @(this.Name)?</p>
      <div class="budget__delete-confirm-actions">
        <button class="button button--narrow button--discourage" @onclick="this.OnDeleteBudgetConfirmed">
          Delete
        </button>
        <button class="button button--narrow" @onclick="this.OnDeleteBudgetCancelled">
          Cancel
        </button>
      </div>
    </div>
  </Modal>
}