@using BudgetSquirrel.Frontend.BudgetPlanning

<div class="budget budget--1 budget__group _budget1">
  <div class="budget__details">
    <div class="_budget__heading">
      <p class="_budget__name">
        @this.Name
      </p>
      <div class="_budget__actions">
        @if (!this.IsAddingSubBudget)
        {
          <button class="material-icons icon-button" @onclick="this.OnAddSubBudgetClicked">
            add_box
          </button>
        }
      </div>
    </div>
    <div class="_budget-stat__container">
      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <p class="@this.AmountInStatValueCssClass">
          @this.AmountInDisplay
        </p>
      </div>

      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <input
            type="number"
            value="@this.State.PlannedAmount.ToString("C")"
            @onchange="(ChangeEventArgs __e) => this.ChangePlannedAmount(__e.Value.ToString())" />
      </div>

      <div class="stat _budget-stat">
        <p class="stat__label">Balance</p>
        <p class="stat__value">
          @this.BalanceDisplay
        </p>
      </div>

      <div class="stat _budget-stat">
        <p class="stat__label">Balance</p>
        <p class="stat__value">
          @this.BalanceDisplay
        </p>
      </div>
    </div>
  </div>

  @if (this.ShouldShowSubBudgetArea)
  {
    <div class="budget__sub-budget-container">
      @if (this.IsAddingSubBudget)
      {
        <div class="budget__sub-budget">
          <Budget2AddForm
            ParentBudget="@this.Budget"
            OnSubmit="@this.CreateSubBudget2"
            OnCancel="@this.CancelSubBudgetCreation" />
        </div>
      }

      @foreach (BudgetPlanningContext.FundRelationships subBudget in this.Budget.SubFunds)
      {
        <div class="budget__sub-budget">
          <Budget2 Budget=@subBudget />
        </div>
      }
    </div>
  }
</div>