@using BudgetSquirrel.Frontend.Shared.Controls

<div class="budget budget--2 budget__group _fund2">
  <div class="budget__details">
    <div class="_fund__heading">
      <div class="_fund__name">
        <EditableText
          Value="@this.Name"
          Placeholder="Budget Name"
          Name="@this.InputNameFundName"
          OnChange="@this.ChangeName" />
      </div>
        
      <div class="_budget__actions">
        <button class="material-icons icon-button" @onclick="this.View">
          list
        </button>
        <button class="material-icons icon-button" @onclick="this.StartAddingTransaction">
          playlist_add
        </button>
      </div>
    </div>
    <div class="_fund-stat__container">
      <div class="stat _fund-stat _fund-stat--first">
        <p class="stat__label">Amount In</p>
        <span>@this.AmountIn</span>
      </div>
      
      <div class="stat _fund-stat">
        <p class="stat__label">Balance</p>
        <span>@this.Balance</span>
      </div>
    </div>
  </div>
</div>